{% extends "blog/base.html" %}
{%load crispy_forms_tags%}
{%block content%}

{%if messsages%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{messages}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{%endif%}

<div class="d-flex p-4 ">

    <div class="container">
        <form action=# method="POST">
            <legend>Register now</legend>
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="button-primary" value="Sign up">
        </form>
        <small>
            Already have an account? <a href="{%url 'login'%}">LOG IN </a>
        </small>
    </div>
    
</div>

{%endblock%}